body{
font-family: 'Bitter', serif;
margin: 0;
}
.mission-color{
   
    color: rgb(106, 171, 197);
    font-size: 55px;
    padding-right: 39%;
   
}
h2{
    font-size: 55px;
}
.half-width{
width: 50%;
padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.flexible-container{

    display: flex;
    margin-bottom: 7%;
}
.link-button{

    text-decoration: none;
    background-color: rgb(106, 171, 197);
    color: white;
    padding: 13px 30px;
    border-radius: 7px;
    font-weight: 700;
}
.side-line{
    border-left: 5px solid rgb(47, 157, 201);
    height: 172px;
    border-radius: 7px;
    padding: 0px 15px 0px 15px;
}
h1{
    text-align: center;
    font-size: 45px;
}
.year-color{
    color: rgb(106, 171, 197);
    font-size: 45px;
}

.flexible{
   display: flex;
   text-align: center;
   width: auto;
   justify-content: center;
}
.wrapper{

    margin-top: 10%;
   
}
.mission{
    background-color: rgb(217, 242, 245);
    margin: 5px;
    margin-bottom: 100px;
    width: 300px;
    padding: 20px;
    position: relative;
    border-radius: 10%;
    
    
}
.vission{
   
    background-color: rgb(245, 224, 227);
    margin: 5px;
    margin-bottom: 100px;
    width: 300px;
    padding: 20px;
    position: relative;
    border-radius: 10%;
}
.goals{
   
    background-color: rgb(227, 240, 181);
    margin: 5px;
    margin-bottom: 100px;
    width: 300px;
    padding: 20px;
    position: relative;
    border-radius: 10%;
}
.mission img{

    width: 45%;
}
.vission img{

    width: 45%;
}
.goals img{

    width: 45%;
}
.coding{
    font-size: 35px;

}
.coding img{
    width: 65%;
    position: relative;
}
.develop{
    padding-bottom: 60%;
    font-size: 18px;
}
.button{

    font-size: 15px;
   
}
h3{
    font-size: 35px;
}
h4{
    text-align: center;
    font-size: 33px;
}
.footer{
    color: white;
    text-align: center;
    background-color: slateblue;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-color{
    color: rgb(106, 171, 197);
}